@{
    ViewBag.Title = "فعال سازی ایمیل";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        از این که ایمیل تان را فعال کردید متشکریم. لطفا برای ورود به حساب کاربری تان @Html.ActionLink("اینجا", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) را کلیک کنید.
    </p>
</div>
