@{
    ViewBag.Title = "آشنایی با جامعه برنامه نویسان فارسی زبان";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>
    جامعه برنامه نویسان فارسی زبان یک سایت اینترنتی است که با هدف فراهم کردن دسترسی علاقه مندان به رشته برنامه نویسی و فعالان این شغل در سال 1380 تاسیس شده است.
    این سایت ابتدا با نام دامین barnamenevis.com شروع بکار کرد، اما در آن زمان با توجه تازه بودن فرهنگ وجود سایت های اینترنتی و مشکلاتی که در زمینه ثبت دامین و تمدید آن وجود داشت متاسفانه دامین فوق از دست ما خارج شد. چند ماه بعد در سال 1382 دامین جدید این مجموعه با نام barnamenevis.org رونمائی شد و از آن سال تا کنون به عنوان اولین، قدیمی ترین و بزرگترین جامعه آنلاین برنامه نویسی به زبان فارسی در حال فعالیت می باشد.
</p>
<p>
    در سال 1385 از طرف کنسرسیوم جهانی وب لقب "بزرگترین سایت دارای محتوای تخصصی به زبان فارسی" به ما تعلق گرفت و این لقب از آن سال ببعد همواره تمدید شده و در اختیار ما قرار دارد.
</p>