@{
    ViewBag.Title = "تماس با ما";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    <strong><i class="fas fa-envelope"></i> پشتیبانی سایت گفتمان:</strong>   <a href="mailto:admin@barnamenevis.org">admin@barnamenevis.org</a><br />
    <strong><i class="fas fa-envelope"></i> پشتیبانی سایت آموزش و مقالات:</strong> <a href="mailto:admin@barnamenevis.net">admin@barnamenevis.net</a>
</address>

<address>
    <strong><i class="fab fa-telegram"></i> ارتباط از طریق تلگرام:</strong>   <a href="https://t.me/Mehdi_Keramati">&lrm;@@Mehdi_Keramati</a><br />
    <strong><i class="fas fa-phone-square"></i> پشتیبانی تلفنی:</strong> &lrm;+989121466281
</address>