@{
    ViewBag.Title = "صفحه اصلی";
}

<div class="jumbotron">
    <h1>برنامه نویس</h1>
    <p class="lead">اولین و قدیمی ترین جامعه آنلاین برنامه نویسان فارسی زبان. به ما بپیوندید:</p>
    <p>
        <a href="http://barnamenevis.org" class="btn btn-primary btn-lg" target="_blank">تالار گفتمان &raquo;</a>
        <a href="https://barnamenevis.net" class="btn btn-primary btn-lg" target="_blank">سایت مقالات و آموزش &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>از کجا شروع کنم؟</h2>
        <p>
            برای شروع مشارکت و طی مسیر آموزش شخصی می توانید با کلیک کردن بر روی لینک سایت ها که در بالا آمده است عضو سایت های ما شوید.
        </p>
        <p><a class="btn btn-default" href="https://barnamenevis.net/Account/Register" target="_blank">ثبت نام در سایت آموزش &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>اگر سوالی داشتم چکار کنم؟</h2>
        <p>با عضویت در سایت جامعه برنامه نویسان فارسی زبان می توانید به بخش های مختلف سایت مراجعه کرده و هر سوالی در هر زمینه مرتبط با برنامه نویس که داشتید مطرح کنید و از توان متخصصان بی شمار داخلی کمک بگیرید.</p>
        <p><a class="btn btn-default" href="http://barnamenevis.org" target="_blank">ورود به سایت جامعه برنامه نویسان فارسی زبان &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>کانال برنامه نویس در تلگرام</h2>
        <p>با عضویت در کانال برنامه نویس در تلگرام می توانید از طریق این شبکه اجتماعی نیز اخبار و تازه های جامعه برنامه نویس را پیگیری نمائید.</p>
        <p><a class="btn btn-default" href="https://t.me/barnamenevis_org" target="_blank">عضویت در کانال تلگرام برنامه نویس &raquo;</a></p>
    </div>
</div>